# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Django DB
db.sqlite3

# Training data ONLY
fraudapp/ml_engine/data_data/

# Media uploads
media/

# Environment variables
.env

# Logs
*.log
